.chatList{
    flex: 1;
    overflow: scroll;
    .search{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .searchBar{
            flex: 1;
            background-color: rgb(203, 153, 249);
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;
            padding: 5px;

            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }

            img{
                width: 20px;
                height: 20px;
            }
        }

        .add{
            width: 28px;
            height: 28px;
            background-color: rgb(203, 153, 249);
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid white;

        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts{
            display: flex;
            flex-direction: column;
            gap: 10px;

            span{
                font-weight: 500;
            }

            p{
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}